<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>

</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">HOME</a></li>
                <li class="main-header__item"><a href="/users">USERS</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Home</h1>
        <p>this is home page...</p>
    </main>
</body>
</html>